/* Variables */

// Base color
$blue:#324157;
$light-blue:#3a71a8;
$red:#c03639;
$pink:#e65d6e;
$green:#30b08f;
$tiffany:#4ab7bd;
$yellow:#fec171;
$panGreen:#30b08f;




// Sidebar
$sideBarWidth:300px;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$subMenuActiveText:#f4f4f5;
$menuText:#162b64;
$menuActiveText:#435ebe;
$menuBg:rgb(50,65,87);


// login page
$lightGray:#eee;
$darkGray:#889aa4;
$loginBg:#2d3a4b;
$loginCursorColor:#fff;